{% extends "web/base.html" %}
{% block content %}
    {% if not user.is_anonymous %}
    Вы авторизованы как <b>{{user.username}}</b>
    {% endif %}
    <h2>Hello, bro</h2>
    <a href="{% url 'orders_add' %}">Заказать торт</a>
    <ul>
        {% for order in orders %}
            <li>
                <b>Status: {{ order.status }}</b>
            </li>
            <li>
                <b>Order for: {{ order.order_date }}</b>
            </li>
            <a href="{% url 'orders_edit' order.id %}">Edit</a>
            <hr>
        {% endfor %}
    </ul>
{% endblock %}

